<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upcoming Classes</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'events/style.css' %}">
    <link rel="stylesheet" href="{% static 'events/menu.css' %}">

</head>
<body>
    <div class="navbar">
        <a href="/">Semester Manager</a>
        <div class="menu-items">
            <a class='item' href="/events">Home</a>
            <a class='item' href="/routine">Routine</a>
            <a class='item' href="/admin">Admin</a>
        </div>
        <span id='menubutton' class='material-icons'>menu</span>
    </div>
    {% block content %}{% endblock %}

    <script src="{% static 'events/menu.js' %}"></script>
</body>
</html>