* {
    margin: 0;
    border: none;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

body {
    background-color: #222F3E;
    color: white;
    font-weight: lighter;
    font-size: 1.25em;
}

a {
    color: cyan;
}

a:hover {
    color: lightblue;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #417690;
    justify-content: flex-end;
    box-shadow: 0px 0px 2px 1px black;
}

.navbar a {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.5em;
}

.navbar div {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.25em;
    font-size: 1.5em;
}

#events {
    font-size: larger;
    display: flex;
    margin: 1em;
    flex-direction: column;
}

.event {
    background-color: #2F3742;
    margin: 0.5em;
    padding: 0.2em;
    box-shadow: 0px 0px 2px 1px dimgrey;
}

.header {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.header span {
    font-size: 1em;
}

.time {
    color: lightskyblue;
}

.description {
    margin: 0.5em;
    font-size: 0.75em;
}

.class-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.dayname, .lecture {
    display: flex;
    flex-direction: column;
    min-width: 6.5em;
    min-height: 4em;
    justify-content: center;
    text-align: center;
    width: 6.5em;
    margin: 0.1em;
    opacity: 60%;
}

.dayname {
    background-color: darkslategray;
}

.lecture {
    background-color: darkcyan;
}

.today .dayname, .today .lecture {
    opacity: 100%;
}

.today {
    font-weight: normal;
}

.pending {
    color: black;
    background-color: lime;
}
